.best-seller {
    padding: 100px 0 100px 0;
    color: var(--black);
    background-color: var(--white);
    min-height: 100vh;
    &__slider {
        margin-top: 50px;
        max-width: 1200px;
    }
    &__slider-content {
        padding: 20px;
    }
}
