.aside-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: all 0.3s;
    z-index: 1000;
    &.active {
        pointer-events: all;
        background: rgb(0, 0, 0, 0.3);
    }
}

.aside-menu {
    overflow-y: scroll;
    background-color: var(--white);
    border-left: 2px solid var(--orange);
    height: 100vh;
    width: 420px;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    &.active {
        transform: translateX(0%);
    }
}

.aside-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media (max-width: 420px) {
    .aside-menu {
        width: 320px;
    }
}