.filter-section {
    
    &__btn-clear {
        width: 100%;
        border: none;
        background: none;
        padding: 5px;
        display: flex;
        cursor: pointer;
        height: 30px;
        transition: all 0.1s;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;
        color: var(--errors);
        &:hover {
            background: var(--main_hover);
        } 
    }
    &__icon-clear{
        fill: var(--errors);
    }
}

