.filter-section {
    &__title {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        color: var(--black);
        &:hover {
            color: var(--orange);
        }
    }
    &__items-container {
        overflow: hidden;
    }
    &__category-items {
        transform: translateY(-100%);
        transition: all 0.2s;
        margin-bottom: -1000%;
        color: var(--black);
        &.active {
            transform: translateY(0%);
            margin-bottom: 0%;
        }
    }
    &__btn-clear {
        width: 100%;
        border: none;
        background: none;
        padding: 5px;
        display: flex;
        cursor: pointer;
        height: 30px;
        transition: all 0.1s;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;
        color: var(--errors);
        &:hover {
            background: var(--main_hover);
        } 
    }
    &__icon-clear{
        fill: var(--errors);
    }
    &__arrow-icon {
        fill: var(--orange);
        width: 25px;
        height: 25px;
        transition: all 0.3s;
        &.active {
            transform: rotate(180deg);
        }
    }
}

