.select {
    min-width: 67px;
    background-color: var(--white);
    height: 100%;
    box-shadow: 0 0 2px 1px var(--orange);
    color: var(--black);
    &__container {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;
        &.active {
            pointer-events: all;
        }
    }
    &__default-option {
        cursor: pointer;
        height: 100%;
        width: 100%;
        display: flex;
        border-bottom: 1px solid var(--orange);
        gap: 5px;
        justify-content: center;
        align-items: center;
        color: var(--orange);
    }
    &__arrow-down {
        width: 20px;
        height: 20px;
        fill: var(--orange);
        transition: all 0.3s;
        &.active {
            transform: rotate(180deg);
        }
    }
    &__menu {
       overflow: hidden;
       width: 100%;
       height: 0px;
       transition: all 0.3s;
       &.active {
         height: auto;
       } 
    }
    &__options {
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        transform: translateY(-100%);
        transition: all 0.3s;
        &.active {
            transform: translateY(0%);
        }
    }
    &__option {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-bottom: 1px solid var(--orange);
        transition: all 0.2s;
        background-color: var(--white);
        &:hover {
            background-color: var(--orange);
        }
    }
}
